@import "2020variables";

.slpBlog__article p,
.slpBlog__article ol,
.slpBlog__article ul,
.slpBlog__article li {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 1em;
}

.slpBlog {
	h1, hr {
	  margin-top: 0px;
	  margin-bottom: 0px;
	}

	img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
    vertical-align: middle;
  }

  a h2 svg {
  	display:none!important
  }

  a:hover h2 svg {
  	display: inline-block!important
  }
}

.tags a {
  z-index:1;
}
      
.slpBlog__footer .related-content a:hover {
	text-decoration: none !important;
}
